.CompanyDetails {
	color: black;
}

.CompanyDetails .btn {
	width: 100%;
    background: none;
    border: 5px solid #103070c1;
    color: rgb(0, 0, 0);
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    margin: 12px 0;
}
